input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	transition: border 0.5s;
	color: $color__text-input;
	border: none;
	border-bottom: 2px solid $color__border;
	border-radius: 0;
	padding: 5px 0;

	&:active,
	&:focus {
		color: $color__text-input-focus;
		border-bottom-color: $color__primary;
	}
}

select {
	border-radius: 0;
	border: 1px solid $color__border-input;
	background: $color__light;
}

textarea {
	border-radius: 0;
	width: 100%;
}

label {
	color: $color__primary;
	font-weight: 400;
}
