/*
Theme Name: Sober Child Theme
Theme URI: http://uix.store/sober/
Author: UIX Themes
Author URI: http://uix.store
Description: Sober is a fully responsive Premium WordPress Theme with a pixel perfect design and extensive functionality
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: sober
Tags: one-column, two-columns, right-sidebar, custom-colors, custom-menu, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Template: sober
*/

body{
	font-family: 'Open Sans', sans-serif;
}

a{
	color: #b41f24;
}

.hfeed .site-main .entry-title{
	font-weight: bold;
	font-size: 18px;
}

time.entry-date.published.updated{
	font-weight: 600;
}
span.cat-links a{
	font-weight: 600;
}
.entry-summary p{
	font-weight: 400;
	font-size: 16px;
    font-size: 14px;
    color: #7a7878;
    line-height: 22px;
}
.hfeed .site-main .read-more{
	color: #b41f24;
	font-weight: bold;
	font-size: 13px;
	border: 2px solid  #b41f24;
	padding: 0px 10px;
}
.hfeed .site-main .read-more:hover{
	background: #b41f24;
	color: #fff;
}
.hfeed .site-main .read-more:before,.hfeed .site-main .read-more:after{
	display: none;
}
img.attachment-sober-blog-grid.size-sober-blog-grid.wp-post-image{
	-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.08);
	-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.08);
	box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.08);
}

.widget-title{
	font-weight: bold;
	font-size: 18px;
}
.popular-post.post.clearfix h4{
	font-size: 16px;
}
.popular-posts-widget .entry-date{
	font-size: 13px;
}
li.cat-item a{
	font-size: 14px;
}
.widget_archive li span.count, .widget_categories li span.count{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
.widget .tagcloud a{
	background-color: #dbdbdb;
}
.widget .tagcloud a:hover{
	background-color: #b41f24;
}
.widget .search-form input[type="search"]{
	border:1px solid #000;
	padding-left: 15px;
}
input.search-submit{
	padding-left: 30px;
}
.search-submit{
	background-image: url('img/search.png');
	background-repeat: no-repeat;
	top: 50%;
	-webkit-transform: translateY(-40%)!important;
    transform: translateY(-40%)!important;
}
.footer_custom{
	background-color: #1c1d1a;
}
.widget_footer_title{
	font-size: 13px;
	font-weight: bold;
	color:#fff;
}
.footer_categories li.cat-item a{
	color:#fff;
	font-weight: 400;
	font-size: 13px;
	text-transform: capitalize;
}
div#primary-sidebar{
	border-bottom: 0;
}

.last_posts_footer ul li a{
	font-weight: 300;
	font-size: 13px;
	color:#fff;
}
.last_posts_footer ul li a:hover,.footer_categories li.cat-item a:hover{
	color: #b41f24;
}
.last_posts_footer ul li{
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #4a4d45;
	line-height: 15px;
}
.last_posts_footer ul li:first-child{
	padding-top: 0;
}
.footer_tag .tagcloud a{
	background-color: #383937;
}

/*footer*/
.footer-info{
	background-color: #262625;
	min-height: 45px;
	padding-top: 8px !important;
}
.footer-info:before{
	border: 0 !important;
}
.right_copyright{
	float: right;
	color:#fff;
	font-size: 14px;
	font-weight: 400;
}
.social_box{
	border-bottom: 1px solid #f1f2f4;
}
.social_custom{
	background: #b41f23;
}

.social_custom:hover{
	background: #8d1a1d;
}
.social_custom h2{
	font-weight: bold;
	font-size: 16px;
	color: white;
	padding: 10px 20px;
}
.social_custom h2 img{
	float: right;
	margin-top: -3px;
}
.footer_categories ul{
	display: inline-table;
	padding-right: 10px;
}
/*newsletter*/
.widget_title_newsletter{
	color: #b41f24;
	margin-top: 20px;
}
.newsletter_widget{
	width: 84%;
	height: 47px;
	border: 1px solid #000;
	padding: 0 20px;
}
input.newsletter-submit{
	width: 51px;
    height: 47px;
    float: right;
    padding: 0;
    background-color: transparent;
    top: 0;
    margin: 0;
	background-image: url('img/newsleter.png');
	right: 0;
	text-indent: -999px;
}

/*topbar*/
.topbar{
	background-color: #b41f24;
	padding: 4px 0;
}
/*nav*/
.nav-menu a{
	font-weight: bold;
	font-size: 14px;
}
.site-header{
	padding: 20px 0;
}
/*paginacja*/
.pagination{
	background-color: #f4f4f4;
	padding: 10px 0;
	text-align: center;
}
.pagination .nav-links{
	display: inline-table;
}
.pagination .page-numbers{
	border:1px solid #cccccc;
	margin: 0;
	padding: 2px 14px;
	color: #000;
}
span.page-numbers.dots{
	border: 0;
}
.pagination .page-numbers.current, .pagination .page-numbers:hover {
	background-color: #1c1d1a;
	color: #fff;
}
.pagination .page-numbers.current:after{
	border: 0 !important;
	height: 0;
}
a.next.page-numbers,a.prev.page-numbers{
	border: 0;
}
.pagi-arrow{
	margin-top: 5px;
}

/*owl*/
.owl-carousel .owl-item img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	border-right: 1px solid #000;
/*	max-height: 320px;*/
}
.owl-carousel{
/*	max-height: 320px;*/
	overflow: hidden;
	margin-bottom: 20px; 
}
.owl_mask{
    position: absolute;
    z-index: 1;
    background-color: #ae0006;
    width: 100%;
    height: 100%;
    opacity: 0.83;
	transition: 0.5s;
}
.owl_mask:hover{
	 background-color: #880005;
}
/*
.owl_mask:hover{
	background-color:#8e0005;
}
*/
h2.owl_title{
	z-index: 9999;
    position: absolute;
    color: white;
    top: 20%;
    transform: translateY(-20%)!important;
    text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding: 0 20px;
	left: 0;
	right: 0;
}
.read_more_owl a{
	color: #fff;
	border: 2px solid #fff;
	padding: 13px 20px;	
	transition: 0.5s; 
}
.read_more_owl a:hover{
	background-color: #fff;
	color: #ae0006;
}
.read_more_owl a:hover >.owl_mask{
	display: none;
}

.read_more_owl{
	z-index: 9999;
    position: absolute;
    color: white;
	text-align: center;
	left: 0;
	right: 0;
	font-weight: bold;
	font-size: 15px;
	margin-top: 60px;
	top: 40%;
    transform: translateY(-40%)!important;
}

input[type="submit"],input[type="submit"]:hover{
	background-color: transparent;
}
input[type="search"]{
	border: 1px solid #000;
    padding-left: 15px;
}
.page-content input.search-submit{
	position: absolute;
	padding: 0;
	right: 0;
	width: 30px;
}
.page-content form{
	position: absolute;
}
.page-content input.search-field{
	padding-right: 30px;
}

span.tags-links a:hover{ /*search-page category field*/
	background-color: #ae0006;
}

.widget-thumb img{
	-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.08);
	-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.08);
	box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.08);
}

h1.category__title {
    margin-top: 0;
    border-bottom: 1px solid #f1f2f4;
    text-align: center;
	padding-bottom: 20px;
}

.btn_matrix{
	position: relative;
    display: inline-block;
    height: 70px;
    background: #000 url(img/logo2.png) left no-repeat;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 70px;
    margin: 20px 0;
    padding: 0 25px 0 170px;
	min-width: 50%;
}
a.btn_matrix:hover{
	color: #b41f24;
}
a:active, a:focus{
	color: #fff;
}
section.widget.widget_search{
	margin-bottom: 0;
}
.social_custom h2{
	margin-top: 0;
}
input#mauticform_input_marixblog_submit:hover{
	opacity: 0.9;
}
.mauticform-page-wrapper.mauticform-page-1{
	position: relative;
}
input#mauticform_input_marixblog_submit{
	position: absolute;
}