.site-footer {
	.footer-content,
	.footer-info {
		&:before {
			content: "";
			display: block;
			margin: 0 40px;
			border-top: 1px solid $color__border;
		}
	}
}

.footer-info {
	@include font-size(1.2);
	font-weight: 500;

	.sober-container {
		padding-top: 33px;
		padding-bottom: 32px;
	}

	.copyright {
		color: $color__primary;
		display: inline-block;
		margin-right: 20px;
	}

	.footer-social {
		text-align: right;

		.socials-menu,
		.socials-extra {
			display: inline-block;
		}
	}

	.socials-extra {
		padding-left: 30px;
	}
}

.footer-content {
	text-align: center;

	h3 {
		color: $color__primary;
		@include font-size(2.4);
		font-weight: 400;
	}

	.sober-container {
		padding-top: 17px;
		padding-bottom: 37px;
		position: relative;
	}

	.mc4wp-form {
		margin-top: 40px;

		input[type=text],
		input[type=email],
		input[type=submit] {
			height: 50px;
			border: 0;
			border-bottom: 2px solid #e4e6eb;

			&:focus,
			&:hover {
				border-color: $color__primary;
			}
		}

		input[type=text],
		input[type=email] {
			color: $color__primary;
			font-weight: 400;
			width: 60%;
			padding: 0 20px;
			margin-right: 10px;
		}

		input[type=submit] {
			@include font-size(1.6);
			font-weight: 500;
			color: $color__primary;
			position: relative;
			bottom: -1px;
			padding: 0 10px;
			background-color: transparent;
			box-shadow: none;
			border-radius: 0;
		}
	}
}

#gotop {
	position: absolute;
	right: 40px;
	top: 45%;
}