html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

:focus {
	outline: none;
}

body {
	position: relative;
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

svg {
	transition: 0.5s;
	width: 20px;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	stroke: $color__primary;
	stroke-width: 0px;
	fill: $color__primary;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

.select2-search input {
	border: none !important;
	border-radius: 0 !important;
	border-bottom: 2px solid #f1f2f4 !important;
	transition: all 0.5s;

	&:hover,
	&:focus {
		border-bottom-color: $color__primary !important;
	}
}

.label {
	font-size: 100%;
	color: $color__primary;
}

.scroll-slider,
.line-hover,
.dark-line {
	cursor: pointer;
}

.line-hover {
	position: relative;
	display: inline-block;

	&:after {
		transition: all 0.5s;
		content: '';
		position: absolute;
		right: 0;
		bottom: -5px;
		width: 0;
		height: 2px;
		background-color: $color__primary;
	}

	&.active,
	&:hover {
		&:after {
			left: 0;
			width: 100%;
			background-color: $color__primary;
		}
	}

	&.line-white {
		&:after {
			background-color: $color__light;
		}

		&.active,
		&:hover {
			&:after {
				background-color: $color__light;
			}
		}
	}
}

.dark-line {
	position: relative;
	display: inline-block;

	&:after {
		transition: all 0.5s;
		content: '';
		position: absolute;
		right: 0;
		bottom: -5px;
		width: 0;
		height: 2px;
		background-color: $color__light;
	}

	&.active,
	&:hover {
		&:after {
			left: 0;
			width: 100%;
			background-color: $color__light;
		}
	}
}

.loading-icon {
	display: inline-block;
	vertical-align: middle;
	text-align: center;

	* {
		animation-play-state: paused;
	}

	.bubble {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 0 5px;

		&:nth-child(2n) .dot {
			animation-delay: -0.3s;
		}

		&:nth-child(3n) .dot {
			animation-delay: 0s;
		}
	}

	.dot {
		display: block;
		border-radius: 50%;
		background-color: #fff;
		width: 100%;
		height: 100%;
		transform-origin: 50% 50%;
		animation: bubble 1.2s -0.6s infinite ease-out;
		-webkit-animation: bubble 1.2s -0.6s infinite ease-out;
	}
}

@keyframes bubble {
	0%, 100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}

@-webkit-keyframes bubble {
	0%, 100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}

@import "scrollbar";

@import "tabs";

@import "modal";

@import "carousel";

@import "shortcodes";

