.vc_row {
	background-position: center;

	.wpb_content_element {
		margin-bottom: 0;
	}
}

.site-content {
	.vc_col-has-fill > .vc_column-inner,
	.vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner,
	.vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner,
	.vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
	.vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner,
	.vc_row-has-fill > .vc_column_container > .vc_column-inner,
	.vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
	.vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner,
	.vc_section.vc_section-has-fill,
	.vc_section.vc_section-has-fill + .vc_row-full-width + .vc_section,
	.vc_section.vc_section-has-fill + .vc_section {
		padding-top: 0;
	}
}

.vc_custom_heading {
	@include font-size(4);
	font-family: "Sofia Pro", Popins, sans-serif;
	margin: 0 0 70px;

	.heading-link {
		@include font-size(1.6);
		font-weight: 500;
		font-family: $font__main;
		color: $color__secondary;
		float: right;
		margin-top: 6px;

		&:hover {
			color: $color__primary;
		}
	}

	&.text-right .heading-link {
		float: left;
	}

	&.text-center .heading-link {
		float: none;
		display: block;
	}
}

.sober-product-grid {
	.product-filter {
		margin: 0 0 30px 0;
	}

	.filter {
		list-style: none;
		margin: 0;
		padding: 0 0 10px;
		text-align: center;

		li {
			@include font-size(1.6);
			font-weight: 500;
			line-height: 1;
			display: inline-block;
			margin: 0 25px;

			&:after {
				bottom: -18px;
			}
		}

		.active {
			color: $color__primary;

			&:after {
				width: 100%;
			}
		}
	}

	ul.products {
		transition: height 0.5s;
	}
}

.sober-product-carousel {
	ul.products li.product {
		width: 100%;
		margin-bottom: 0;
	}

	.owl-dots {
		text-align: center;
	}
}

.sober-post-grid {
	text-align: center;

	.post-thumbnail {
		margin-bottom: 15px;
	}

	.entry-meta {
		margin-bottom: 8px;
	}

	.entry-title {
		@include font-size(2);
		margin-bottom: 15px;
		padding: 0 30px;
		line-height: 1.5;
	}

	.read-more {
		@include font-size(1.2);
		font-weight: 500;

		&:after {
			bottom: -2px;
		}
	}
}

.sober-countdown {
	color: $color__primary;

	.box {
		font-family: "Sofia Pro", Poppins, sans-serif;
		font-weight: 300;
		line-height: 30px;
		text-align: center;
		display: inline-block;
		padding: 0 30px;
		min-width: 100px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		.time {
			@include font-size(5);
			display: block;
			padding-bottom: 15px;
		}

		.title {
			@include font-size(1.4);
			display: block;
		}
	}
}

.sober-button {
	&.align-left {
		float: left;
	}

	&.align-right {
		float: right;
	}

	&.button-light {
		@include font-size(1.6);
		font-weight: 500;

		&:after {
			bottom: 0;
			width: 100%;
		}
	}
}

.sober-banner {
	position: relative;
	overflow: hidden;
	font-size: 10px;

	a {
		display: block;
		overflow: hidden;
	}

	img {
		transition: 1s;
		display: block;
		width: 100%;
	}

	.banner-content {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 0;
		width: 50%;
		transform: translate(0, -50%);
	}

	.sober-button {
		transition: 0.5s;
		color: $color__primary;
		display: inline-block;

		&.button-normal {
			border: 2px solid $color__primary;
			background: transparent;
		}
	}

	.banner-desc {
		font-weight: 500;
		display: block;
		margin-bottom: 20px;
	}

	.banner-text {
		@include font-size(3);
		font-family: "Sofia Pro", Poppins, sans-serif;
		line-height: (4/3);
		display: block;
		margin-bottom: 20px;
	}

	&.text-position-center .banner-content {
		width: 100%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.text-position-right .banner-content {
		left: auto;
		right: 0;
		transform: translate(0, -50%);
	}

	&.light-scheme {
		.banner-desc,
		.banner-text,
		.sober-button {
			color: #fff;
		}

		.button-normal {
			border-color: #fff;
		}

		.sober-button:after {
			background-color: #fff;
		}
	}

	&.button-visible-hidden .sober-button {
		display: none;
	}

	&.button-visible-hover {
		.banner-content {
			margin-top: 20px;
		}

		.sober-button {
			opacity: 0;

			&.button-icon-only {
				transform: translateX(-10px);
			}
		}

		&:hover .sober-button {
			opacity: 1;

			&.button-icon-only {
				transform: translateX(0);
			}
		}
	}

	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}

.sober-banner2 {
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
	}

	.banner-buttons {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
	}

	.banner-button {
		@include font-size(1.4);
		font-weight: 500;
		min-width: 160px;
		min-height: 80px;
		background-color: #fff;
		display: inline-block;
		padding: 25px 15px;
		margin: 0 15px;
	}
}

.sober-banner3 {
	position: relative;
	overflow: hidden;

	a {
		display: block;
		overflow: hidden;
		position: relative;
	}

	img {
		transition: 1s;
		display: block;
		width: 100%;
	}

	.banner-content {
		position: absolute;
		bottom: 30px;
		left: 30px;
	}

	.banner-text {
		@include font-size(2.4);
		font-family: "Sofia Pro", Poppins, sans-serif;
		line-height: 1;
		display: block;
		margin-bottom: 0;
		transition: 0.5s;
		transform: translateY(40px);
	}

	.sober-button {
		@include font-size(1.2);
		transition: 0.6s;
		margin-top: 10px;
		transform: translateY(10px);
		opacity: 0;
	}

	&.text-align-right {
		.banner-content {
			left: auto;
			right: 30px;
			text-align: right;
		}
	}

	&.text-align-center {
		.banner-content {
			right: 30px;
			text-align: center;
		}
	}

	&:hover {
		img {
			transform: scale(1.1);
		}

		.banner-text,
		.sober-button {
			transform: translateY(0);
		}

		.sober-button {
			opacity: 1;
		}
	}
}

.sober-category-banner {
	position: relative;
	padding-top: 100%;

	.banner-inner {
		position: absolute;
		top: 40px;
		bottom: 40px;
		left: 40px;
		right: 40px;
		overflow: hidden;
	}

	.banner-image {
		display: block;
		overflow: hidden;
		max-width: 100%;
		max-height: 100%;
		background: no-repeat center center;
		background-size: 100%;

		img {
			opacity: 0;
			max-width: none;
		}
	}

	.banner-content {
		padding: 40px 20px 40px 40px;
		width: 50%;
		position: absolute;

		&:before {
			content: "";
			display: block;
			width: 20px;
			border-bottom: 2px solid $color__primary;
			position: absolute;
			top: 0;
		}
	}

	.banner-title {
		@include font-size(6);
		font-family: "Sofia Pro", Poppins, sans-serif;
		text-indent: -5px; // For fixing Sofia Pro font
		margin: 0 0 20px 0;
	}

	.banner-text {
		@include font-size(1.3);
		color: $color__primary;
		line-height: (28/13);
		margin-bottom: 15px;
	}

	&.image-top-left {
		.banner-inner {
			padding-bottom: 195px;
			padding-right: 195px;
		}
	}

	// Image position
	&.image-top-left .banner-inner {
		padding-bottom: 195px;
		padding-right: 195px;
	}

	&.image-top-right .banner-inner {
		padding-bottom: 195px;
		padding-left: 195px;
	}

	&.image-bottom-left .banner-inner {
		padding-top: 195px;
		padding-right: 195px;
	}

	&.image-bottom-right .banner-inner {
		padding-top: 195px;
		padding-left: 195px;
	}

	&.image-top .banner-inner {
		padding-bottom: 195px;
	}

	&.image-bottom .banner-inner {
		padding-top: 195px;
	}

	&.image-left .banner-inner {
		padding-right: 195px;
	}

	&.image-right .banner-inner {
		padding-left: 195px;
	}

	// Text position
	&.text-position-top-left .banner-content {
		top: 0;
		left: 0;
	}

	&.text-position-top-right .banner-content {
		top: 0;
		right: 0;
	}

	&.text-position-middle-left .banner-content {
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}

	&.text-position-middle-right .banner-content {
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}

	&.text-position-bottom-left .banner-content {
		bottom: 0;
		left: 0;
	}

	&.text-position-bottom-right .banner-content {
		bottom: 0;
		right: 0;
	}
}

.sober-product {
	text-align: center;
	position: relative;
	padding-top: (778/894)*100%;

	.product-image {
		transition: 0.5s;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border: 0 solid #fff;
		overflow: hidden;
		background: no-repeat center center;
		background-size: 100%;

		img {
			opacity: 0;
		}
	}

	.overlink {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
	}

	.product-info {
		color: #fff;
		position: absolute;
		left: 0;
		bottom: 35px;
		width: 100%;
	}

	.product-title {
		@include font-size(4);
		color: #fff;
		font-weight: 300;
		font-family: "Sofia Pro", Poppins, sans-serif;
		margin-bottom: 15px;
		margin-top: 0;
	}

	.product-desc {
		@include font-size(1.6);
		font-weight: 400;
		margin-bottom: 20px;
	}

	.product-price {
		position: relative;
		overflow: hidden;
		line-height: 50px;
		height: 51px;

		.price {
			transition: 0.5s;
			display: block;
			@include font-size(3);
			font-weight: 500;
		}

		.button {
			@include font-size(1.2);
			font-weight: 500;
			text-transform: uppercase;
			line-height: 46px;
			min-width: 160px;
			border: 2px solid #fff;
			background-color: transparent;
		}
	}

	&:hover {
		.product-image {
			border-width: 10px;
		}

		.product-price {
			.price,
			.button {
				transform: translateY(-100%);
			}
		}
	}
}

.sober-banner-grid-4 {
	overflow: hidden;

	.sober-banner,
	.sober-banner2,
	.sober-banner3 {
		float: left;

		&:nth-child(8n+1) {
			clear: left;
		}

		&:nth-child(8n+1),
		&:nth-child(8n+4),
		&:nth-child(8n+7),
		&:nth-child(8n+8) {
			width: 50%;
		}

		&:nth-child(8n+2),
		&:nth-child(8n+3),
		&:nth-child(8n+5),
		&:nth-child(8n+6) {
			width: 25%;
		}

		&:nth-child(8n+7) {
			float: right;
		}
	}

	.sober-banner {
		a {
			display: block;
			position: relative;

			&:before {
				transform: scale(0.5, 0.5);
				transition: 0.5s;
				opacity: 0;
				content: "";
				position: absolute;
				top: 30px;
				bottom: 30px;
				left: 30px;
				right: 30px;
				z-index: 1;
				background: rgba(17, 17, 20, 0.9);
			}
		}

		.banner-content {
			z-index: 2;
		}

		.sober-button {
			transition: 0.7s;
		}

		&:hover {
			a:before {
				transform: scale(1, 1);
				opacity: 1;
			}

			.sober-button {
			}
		}
	}
}

.sober-banner-grid-5 {
	$width: (540/1850)*100%;

	padding: 0 60px;
	overflow: hidden;
	position: relative;

	.banners-wrap {
		overflow: hidden;
		margin-left: -10px;
		margin-right: -10px;
	}

	.banners {
		float: left;
		width: $width;
		padding-left: 10px;
		padding-right: 10px;

		> div {
			margin-bottom: 20px;
			background: center no-repeat;
			background-clip: content-box;
			background-size: auto 100%;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.banners-column-2 {
		width: (100% - 2*$width);
	}
}

.sober-banner-grid-6 {
	overflow: hidden;
	position: relative;
	padding: 0 60px;
	margin-left: -4px;
	margin-right: -4px;

	.sober-banner,
	.sober-banner2,
	.sober-banner3 {
		float: left;
		padding: 4px;

		&:nth-child(6n+1) {
			clear: left;
		}

		&:nth-child(6n+1),
		&:nth-child(6n+2),
		&:nth-child(6n+3) {
			width: 33.33333%;
		}

		&:nth-child(6n+4),
		&:nth-child(6n+5),
		&:nth-child(6n) {
			width: (357/1608)*100%;
		}
	}

	&.reverse-order {
		.sober-banner,
		.sober-banner2,
		.sober-banner3 {
			float: right;

			&:nth-child(6n+1) {
				clear: right;
			}
		}
	}
}

.sober-chart {
	text-align: center;
	position: relative;
	display: inline-block;

	.text {
		@include font-size(4.8);
		font-weight: 300;
		font-family: "Sofia Pro", Poppins, sans-serif;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -10px;
		transform: translate(-50%, -50%);
		line-height: 32px;
		vertical-align: top;

		.unit {
			@include font-size(2.2);
			line-height: 1;
			vertical-align: top;
			margin-right: 5px;
		}
	}

	canvas {
		max-width: 100%;
	}
}

.sober-message-box {
	position: relative;
	padding: 20px 20px 20px 80px;
	margin-bottom: 20px;

	.message-icon {
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
		width: 40px;
		height: 40px;
	}

	.close {
		position: absolute;
		right: 30px;
		top: 50%;
		opacity: 1;
		transform: translateY(-50%);

		svg {
			width: 14px;
			height: 14px;
		}
	}

	.box-content {
		@include font-size(1.4);
		font-weight: 500;

		p:last-child {
			margin-bottom: 0;
		}
	}

	&.success {
		background-color: #bff9d0;

		svg {
			fill: #299c77;
			stroke: #299c77;
		}

		.box-content,
		a.close {
			color: #299c77;
		}
	}

	&.info {
		background-color: #c3ebff;

		svg {
			fill: #65a6c7;
			stroke: #65a6c7;
		}

		.box-content,
		a.close {
			color: #65a6c7;
		}
	}

	&.danger {
		background-color: #ffd0d0;

		svg {
			fill: #d45757;
			stroke: #d45757;
		}

		.box-content,
		a.close {
			color: #d45757;
		}
	}

	&.warning {
		background-color: #fff4b8;

		svg {
			fill: #e6ae15;
			stroke: #e6ae15;
		}

		.box-content,
		a.close {
			color: #e6ae15;
		}
	}

	&.closeable {
		padding-right: 65px;
	}
}

.sober-icon-box {
	text-align: center;
	padding: 0 30px;

	.box-icon {
		color: $color__primary;
		display: inline-block;
		margin-bottom: 30px;
		line-height: 1;

		i {
			@include font-size(5);
		}
	}

	.box-title {
		@include font-size(2.2);
		font-weight: 500;
		color: $color__primary;
		margin: 0 0 20px 0;
	}

	.box-content {
		@include font-size(1.4);
		font-weight: 400;
	}

	&.icon-style-circle {
		.box-icon {
			border-radius: 100%;
			border: 2px solid #e4e6eb;
			width: 110px;
			height: 110px;
			line-height: 110px;
			margin-bottom: 25px;
		}
	}

	&.icon-style-round {
		.box-icon {
			color: #fff;
			border-radius: 50%;
			background-color: $color__primary;
			width: 110px;
			height: 110px;
			line-height: 110px;
			margin-bottom: 25px;
		}
	}
}

.sober-pricing-table {
	transition: 0.5s;
	border: 1px solid $color__border;

	&:hover {
		box-shadow: 0 4px 10px 0 rgba(3, 3, 3, 0.1);
	}

	.table-header {
		text-align: center;
		color: #fff;
		line-height: 1;
		padding: 30px;
		background-color: #6dcff6;

		.plan-name {
			@include font-size(1.2);
			font-weight: 600;
			text-transform: uppercase;
			color: #fff;
			margin: 0 0 30px 0;
			min-height: 14px;
		}

		.pricing {
			@include font-size(4.8);
			font-weight: 300;
			font-family: "Sofia Pro", Poppins, sans-serif;
			margin-bottom: 25px;
			line-height: 34px;

			.currency {
				@include font-size(2.2);
				vertical-align: super;
				margin-right: 5px;
			}
		}

		.recurrence {
			@include font-size(1.1);
			font-weight: 600;
			min-height: 11px;
		}
	}

	.table-content {
		padding: 30px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			@include font-size(1.2);
			color: $color__secondary;
			font-weight: 500;
			margin-bottom: 20px;
			overflow: hidden;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.feature-name,
		.feature-value {
			float: left;
			width: 50%;
		}

		.feature-value {
			text-align: right;
		}
	}

	.table-footer {
		padding: 0 30px 30px 30px;

		.button {
			@include font-size(1.1);
			font-weight: 600;
			text-transform: uppercase;
			line-height: 40px;
			min-width: 0;
			width: 100%;
			background-color: #6dcff6;
		}
	}
}

.sober-testimonial {
	overflow: hidden;

	.author-photo {
		border-radius: 50%;
		overflow: hidden;
		width: 160px;
		height: 160px;
		margin: 0 auto;
	}

	.testimonial-entry {
		margin-top: 30px;
		text-align: center;
	}

	.testimonial-content {
		@include font-size(1.6);
	}

	.testimonial-author {
		@include font-size(1.4);
		font-weight: 500;
		color: $color__primary;
		margin-top: 15px;
	}

	&.testimonial-align-left {
		.author-photo {
			float: left;
			margin: 0;
		}

		.testimonial-entry {
			text-align: left;
			margin-left: 195px;
		}
	}

	&.testimonial-align-right {
		.author-photo {
			float: right;
			margin: 0;
		}

		.testimonial-entry {
			text-align: right;
			margin-right: 195px;
		}
	}
}

.sober-partners {
	text-align: center;
	margin-right: -15px;
	margin-left: -15px;

	.partner {
		vertical-align: middle;
		display: inline-block;
		margin-right: -4px;
		width: 25%;
		padding: 15px;
		white-space: nowrap;
	}

	.partner-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid $color__border;
		min-height: 200px;

		img {
			max-height: 100%;
		}
	}
}

.sober-contact-box {
	.contact-info {
		@include font-size(1.4);
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.info-icon,
	.info-name,
	.info-value {
		display: inline-block;
		vertical-align: middle;
	}

	.info-icon,
	.info-name {
		float: left;
	}

	.info-icon {
		@include font-size(1.8);
		text-align: center;
		color: $color__secondary;
		stroke: $color__secondary;
		fill: $color__secondary;
		width: 22px;
		height: 22px;
		margin-right: 26px;
		margin-top: 3px;
	}

	.info-name {
		font-weight: 600;
		color: $color__secondary;
		text-transform: uppercase;
		width: 110px;
		padding-right: 15px;
	}

	.info-value {
		font-weight: 500;
		color: $color__primary;
		display: block;
		margin-left: 160px;
	}
}

.sober-faq {
	padding: 50px 0;
	border: 2px solid $color__border;
	margin-bottom: 20px;

	.question {
		overflow: hidden;
		cursor: pointer;

		.question-label {
			float: left;
			width: 165px;
			margin-top: 5px;
		}

		.question-icon {
			float: right;
			width: 165px;
		}
	}

	.toggle-icon {
		position: relative;
		width: 50px;
		height: 50px;
		border: 2px solid $color__border;
		border-radius: 50%;
		cursor: pointer;
		display: inline-block;
		transition: all 0.5s;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: all 0.5s;
			background-color: $color__secondary;
		}

		&:before {
			width: 2px;
			height: 16px;
		}

		&:after {
			width: 16px;
			height: 2px;
		}
	}

	.question-label,
	.question-icon {
		text-align: center;
	}

	.question-label,
	.answer-label {
		@include font-size(1.2);
		color: $color__secondary;
		font-weight: 600;
		text-transform: uppercase;
		transition: all 0.5s;
	}

	.question-title {
		@include font-size(2.2);
		font-weight: 500;
		color: $color__primary;
		line-height: (34/22);
	}

	.answer-label {
		color: $color__primary;
		display: block;
		margin-bottom: 10px;
	}

	.question-title,
	.answer {
		display: block;
		margin: 0 165px;
		padding: 0 30px;
	}

	.answer {
		@include font-size(1.6);
		color: $color__primary;
		padding-top: 50px;
		display: none;
	}

	&.open {
		.question-label {
			color: $color__primary;
		}

		.answer {
			display: block;
		}

		.toggle-icon {
			border-color: $color__primary;

			&:after {
				background-color: $color__primary;
			}

			&:before {
				opacity: 0;
			}
		}
	}
}

.sober-team-member {
	position: relative;
	text-align: center;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		transition: all 0.5s;
		background: darken(desaturate($color__primary, 3.2843), 8.2353);
	}

	img {
		width: 100%;
		height: auto;
	}

	.member-socials {
		transition: all 0.5s;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		z-index: 50;
		width: 100%;

		a {
			color: #fff;
			line-height: 46px;
			transform: scale(0.5);
			opacity: 0;
			display: inline-block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 2px solid #fff;
			margin: 10px;
		}
	}

	.member-info {
		padding: 30px 0;
		position: absolute;
		bottom: 20px;
		left: 20px;
		right: 20px;
		z-index: 10;
		background-color: #fff;
		transition: all 0.4s;
	}

	.member-name {
		@include font-size(2.2);
		font-weight: 500;
		color: $color__primary;
		margin: 0 0 10px;
		transition: all 0.5s;
	}

	.member-job {
		@include font-size(1);
		font-weight: 600;
		color: $color__primary;
		text-transform: uppercase;
		transition: all 0.5s;
	}

	&:hover {
		&:before {
			opacity: 0.8;
		}

		.member-socials a {
			transform: scale(1);
			opacity: 1;
		}

		.member-info {
			background-color: transparent;
		}

		.member-job,
		.member-name {
			color: #fff;
		}
	}
}

.vc_tta {
	&.vc_tta-accordion {
		.vc_tta-panel {
			margin-bottom: 10px;

			.vc_tta-panel-title > a {
				padding: 25px 40px;
			}

			.vc_tta-controls-icon-position-left.vc_tta-panel-title > a {
				padding-left: 120px;

				.vc_tta-controls-icon {
					left: 40px;
				}
			}

			.vc_tta-controls-icon-position-right.vc_tta-panel-title > a {
				padding-right: 165px;

				.vc_tta-controls-icon {
					right: 40px;
				}
			}

			&.vc_active {
				.vc_tta-panel-heading {
					border-bottom: 0;
				}

				.vc_tta-panel-body {
					border-top: 0;
				}
			}

			.vc_tta-panel-body {
				@include font-size(1.6);
				color: $color__primary;
				line-height: (34/16);
				padding: 15px 40px;
			}

			.vc_tta-controls-icon {
				border-radius: 100%;
				width: 50px;
				height: 50px;
				transition: 0.5s;
				color: #e4e6eb;
				border: 2px solid;

				&.vc_tta-controls-icon-plus {
					&:before {
						left: 15px;
						right: 15px;
					}

					&:after {
						top: 15px;
						bottom: 15px;
					}
				}

				&.vc_tta-controls-icon-chevron {
					&:before {
						top: 17px;
						bottom: 17px;
						left: 17px;
						right: 17px;
					}
				}

				&.vc_tta-controls-icon-triangle {
					&:before {
						left: 17px;
						right: 17px;
						top: 17px;
						bottom: 15px;
					}
				}
			}
		}

		&.vc_tta-color-grey.vc_tta-style-outline {
			.vc_tta-controls-icon {
				&:before,
				&:after {
					border-color: $color__secondary;
				}
			}

			.vc_tta-panel .vc_tta-panel-heading {
				border-color: $color__border;

				&:hover {
					background-color: $color__border;

					.vc_tta-controls-icon {
						color: $color__primary;

						&:before,
						&:after {
							border-color: $color__primary;
						}
					}
				}
			}

			.vc_tta-panel.vc_active {
				.vc_tta-panel-heading {
					background-color: transparent;
				}

				.vc_tta-controls-icon {
					color: $color__primary;

					&:before {
						border-color: $color__primary;
					}
				}
			}

			.vc_tta-panel,
			.vc_tta-panel.vc_active {
				.vc_tta-panel-title > a {
					@include font-size(1.6);
					color: $color__primary;
					line-height: (30/16);
				}
			}
		}

	}

	&.vc_tta-tabs.vc_tta-style-outline {
		.vc_tta-tabs-container {
			padding-bottom: 30px;
		}

		.vc_tta-tab {
			> a {
				@extend .line-hover;
				@include font-size(1.6);
				color: $color__secondary;
				font-weight: 500;
				border-width: 0;
				padding: 5px 0;
				border-radius: 0;

				&:hover {
					color: $color__primary;
					background-color: transparent;
				}

				&:after {
					bottom: -2px;
				}
			}

			&.vc_active {
				> a {
					color: $color__primary;
					border-bottom: 2px solid $color__primary;
				}
			}
		}
	}

	&.vc_tta-has-pagination {
		.vc_pagination.vc_pagination-style-flat {
			margin-top: 70px;

			.vc_pagination-trigger {
				width: 20px;
				height: 2px;
				opacity: 0.3;
			}

			.vc_active .vc_pagination-trigger {
				opacity: 1;
			}

			&.vc_pagination-color-grey .vc_pagination-trigger {
				background-color: $color__primary;
			}
		}
	}
}

.vc_progress_bar.wpb_content_element {
	overflow: hidden;

	.vc_single_bar {
		height: 8px;
		box-shadow: none;
		border-radius: 0;
		background-color: #e4e6eb;
		margin-bottom: 50px;
		margin-top: 30px;

		.vc_label {
			@include font-size(1.4);
			font-weight: 500;
			padding: 0;
			top: -30px;
		}

		.vc_label_units {
			@include font-size(1.4);
			font-weight: 500;
			color: $color__primary;
			position: absolute;
			top: -30px;
			text-align: right;
		}

		.vc_bar {
			box-shadow: none;
			border-radius: 0;
		}
	}
}
