.widget {
	padding: 0 0 40px 0;
	margin: 0 0 40px 0;
	border-bottom: 1px solid $color__border;

	/* Make sure select elements fit in widgets. */
	select {
		border: 0;
		border-bottom: 2px solid #e4e6eb;
		width: 100%;
		padding: 5px 0;
		transition: all 0.5s;

		&:focus {
			border-bottom-color: $color__primary;
		}
	}

	.search-form,
	.mc4wp-form {
		position: relative;

		label {
			width: 100%;
		}

		input[type="search"],
		input[type="email"] {
			border: 0;
			border-bottom: 2px solid $color__border;
			border-radius: 0;
			font-weight: 400;
			width: 100%;
			padding: 10px 50px 10px 0;
			transition: all 0.5s;

			&:focus {
				border-bottom-color: $color__primary;
			}
		}

		input[type="submit"] {
			@include font-size(1.1);
			color: $color__primary;
			font-weight: 600;
			box-shadow: none;
			border: 0;
			border-radius: 0;
			background-color: transparent;
			text-transform: uppercase;
			padding-right: 0;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-60%);

			&:hover {
				box-shadow: none;
			}
		}

		::-webkit-input-placeholder {
			@include font-size(1.2);
			color: #bfbfc8;
			font-weight: 400;
			text-transform: capitalize;
		}
	}

	.tagcloud {
		a {
			font-size: 10px !important ;
			font-weight: 600;
			color: #fff;
			text-transform: uppercase;
			margin: 0 6px 6px 0;
			padding: 0 10px 0 10px;
			background-color: #bfbfc8;
			transition: all 0.5s;
			display: inline-block;
			vertical-align: middle;

			&:hover {
				background-color: $color__primary;
			}
		}
	}

	table {
		text-align: left;
		width: 100%;

		caption {
			border: 1px solid #f1f2f4;
			border-bottom-width: 0;
			text-align: center;
		}

		tr {
			border: 1px solid #f1f2f4;
			border-bottom-width: 0;
			padding: 3px 0;

			td,
			th {
				padding: 0 5px;
				border-bottom: 1px solid $color__border;
				border-left: 1px solid $color__border;
				text-align: center;
			}
		}
	}

	ul.instagram-pics {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;

		li {
			display: block;
			margin: 0;
			padding: 0;
		}

		&.instagram-size-thumbnail li,
		&.instagram-size-small li {
			float: left;
		}

		&.instagram-size-thumbnail li {
			width: 33.33%;
		}

		&.instagram-size-small li {
			width: 50%;
		}
	}

	ul.menu {
		padding: 0;
		margin: 0;
		list-style: none;

		ul {
			list-style: none;
			margin-left: 20px;
			padding: 0;
		}

		li {
			padding: 6px 0;
			position: relative;

			a {
				@include font-size(1.2);
				color: $color__secondary;
				font-weight: 600;
				text-transform: uppercase;
				transition: all 0.5s;
			}

			&:before {
				position: absolute;
				content: '';
				top: 20px;
				left: -50px;
				width: 0;
				height: 2px;
				background-color: $color__primary;
				transition: all 0.5s;
			}

			&:hover,
			&.current-menu-item {
				> a {
					color: $color__primary;
				}

				&:before {
					width: 20px;
				}
			}
		}

		.mega-menu-container {
			width: 100% !important;
			overflow: hidden;
			background: transparent !important;
			margin: 0 0 0 20px !important;
			padding: 0 !important;
		}

		.mega-sub-menu {
			width: 100%;

			> span {
				@include font-size(1.2);
				font-weight: 600;
				text-transform: uppercase;
			}
		}
	}
}

.widget-title {
	@include font-size(2);
	font-family: "Sofia Pro", Poppins, sans-serif;
	font-weight: 300;
	color: $color__primary;
	margin: 0 0 30px 0;
}

.widget_archive,
.widget_categories {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		a {
			@include font-size(1);
			font-weight: 600;
			color: $color__primary;
			text-transform: uppercase;
		}

		span.count {
			@include font-size(1);
			font-weight: 600;
			color: $color__secondary;
			float: right;
		}
	}
}

.widget_rss,
.widget_meta,
.widget_recent_comments,
.widget_pages,
.widget_recent_entries,
.widget_product_categories {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		ul {
			margin-left: 20px;
		}
	}

	li {
		@include font-size(1.3);
	}
}

.widget_rss {
	li {
		margin-bottom: 20px;
		overflow: hidden;
	}

	.rss-date {
		@include font-size(1);
		color: #bfbfc8;
		font-weight: 600;
		display: block;
	}

	.rssSummary {
		@include font-size(1.2);
		margin-top: 10px;
	}

	cite {
		@include font-size(1.2);
	}
}

.social-links-widget {
	a {
		@include font-size(1.4);
		color: $color__secondary;
		font-weight: 400;
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		margin: 0 10px 10px 0;
		border: 1px solid #f1f2f4;
		border-radius: 50%;
		transition: all 0.5s;

		&:hover {
			color: $color__primary;
			border-color: $color__primary;
		}
	}
}

.popular-posts-widget {
	.popular-post {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.widget-thumb {
		float: left;
	}

	h4 {
		@include font-size(1.3);
		font-weight: 400;
		line-height: (22/13);
		margin: 15px 0 10px 120px;

		a {
			color: $color__primary;
		}
	}

	.entry-date {
		@include font-size(1);
		color: #bfbfc8;
		font-weight: 600;
		margin-left: 120px;
		display: block;
	}

	.no-thumbnail {
		.entry-date {
			margin-left: 0;
		}

		h4 {
			margin: 0 0 10px 0;
		}
	}
}

.soo-product-filter-widget {
	.filter-name {
		color: $color__primary;
		display: block;
		margin-bottom: 20px;
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 3px 0;
		background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTJweCIgaGVpZ2h0PSI2cHgiIHZpZXdCb3g9IjAgMCAxMiA2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMiA2IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIHBvaW50cz0iMTIsMCA2LDYgMCwwICIgZmlsbD0iIzkwOTA5NyIvPg0KPC9zdmc+DQo=') no-repeat 100% 50%;
	}

	.product-filter.slider {
		.filter-slider {
			height: 2px;
			background-color: #e4e6eb;
		}

		.ui-slider-range {
			background-color: $color__primary;
		}

		.ui-slider-handle {
			top: -7px;
			border: 8px solid $color__primary;
		}

		.slider-label {
			text-align: center;

			.range {
				display: none;
			}
		}
	}

	.filter-button {
		width: 100%;
	}
}

.page-sidebar .widget {
	ul.menu {
		padding-left: 50px;
	}
}

.shop-sidebar .widget {
	.widget-title {
		@include font-size(1.6);
		font-weight: 600;
		font-family: Poppins, sans-serif;
		color: $color__primary;
		margin: 0;
		padding: 0 0 30px 0;
	}

	ul  li {
		& > a {
			@include font-size(1.4);
			font-weight: 400;
			color: $color__secondary;
			text-transform: none;

			&:hover {
				color: $color__primary;
			}
		}

		&.current-cat {
			& > a {
				color: $color__primary;
			}
		}

		ul {
			padding-left: 15px;
		}
	}

	&:last-child {
		border-bottom: none;
	}
}
