p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	@include font-size(1.8);
	font-weight: 400;
	color: $color__primary;
	line-height: (28/18);
	margin: 30px 50px;
	padding: 25px 0;
	border-left: 0;
	text-align: center;
	position: relative;

	&:before,
	&:after {
		position: absolute;
		width: 40%;
		height: 1px;
		background-color: #e4e6eb;
		left: 50%;
		transform: translateX(-50%);
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}

	a,
	a:hover {
		color: $color__primary;
	}
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(1.3);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(1.3);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}